/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


/* App.css */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  /* background-color: #ffdd87; */
  background: linear-gradient(to bottom, #fde7b1 0%, #FFF1CC 50%, #FFFFFF 100%);
}

header {
  background: linear-gradient(to bottom, #603A00 0%, #AA6F16 50%, #FDECC3 100%);
}

nav {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 10%;
}

.logo img {
  width: 100px;
}
.menu{
  /* border: 2px solid red; */
  display: flex;
  gap: 20px;
}
.menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

.menu ul li a {
  color: white;
  text-decoration: none;
}
.menu button {
  width: 90px;
  height: 45px;
  background-color: black;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.menu button:hover {
  background-color: rgb(40, 40, 40);
}

main {
  padding: 20px 10%;
}

.search {
  text-align: center;
}

.search input[type="text"] {
  padding: 10px;
  margin-top: 20px;
  width: 80%;
  max-width: 500px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.subjects {
  /* border: 2px solid red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.subjects a {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.search-box {
  position: relative;
  width: 80%;
  max-width: 500px;
  margin: 20px auto;
}

.search-box input[type="text"] {
  width: 100%;
  padding: 10px;
  padding-right: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.search-box img {
  position: absolute;
  right: 1px;
  top: 65%;
  transform: translateY(-50%);
  width: 20px;
  cursor: pointer;
}


.subjects a:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .menu ul {
    flex-direction: column;
    align-items: center;
  }

  .menu button {
    margin-top: 10px;
  }

  .search input[type="text"] {
    width: 90%;
  }
}