* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background: linear-gradient(to bottom, #603A00 0%, #AA6F16 50%, #FDECC3 100%);
    height: 140px;
    /* border: 2px solid red; */
}

#login-div {
    /* border: 2px solid red; */
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-div form {
    /* border: 2px solid rgb(0, 0, 0); */
    padding: 20px; /* Added padding for better spacing */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 75%;
    width: 35%;
    max-width: 400px; /* Ensures form doesn't get too wide on larger screens */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; /* Optional: Adds a subtle shadow for depth */
    background: #fff; /* Optional: Sets a background color for the form */
    border-radius: 20px; /* Optional: Rounds the corners of the form */
}
#login-div form h1{
    font-size: 1.5em; /* Larger font size for better readability */
    margin-bottom: 20px; /* Adds space between heading and inputs */
    background-color: #FFD362;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input[type="email"], input[type="password"] {
    width: 80%; /* Ensures inputs don't stretch too wide */
    padding: 10px; /* Adds padding for better text visibility */
    margin: 10px 0; /* Adds margin for spacing between inputs */
    border: 1px solid #ccc; /* Subtler border */
    border-radius: 20px; /* Rounds the corners of the input fields */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding-left: 20px;
}

button[type="submit"] {
    padding: 10px 20px; /* More clickable area */
    background-color: #603A00; /* Button color that matches the nav gradient */
    color: white; /* Text color for better contrast */
    border: none; /* Removes default border */
    cursor: pointer; /* Changes cursor to indicate clickability */
    border-radius: 20px; /* Rounds the corners of the button */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    width: 25%;
    font-size: 15px;
    padding: 10px 20px;
}

button[type="submit"]:hover {
    background-color: #AA6F16; /* Darker shade on hover for visual feedback */
}