#main-div{
    /* border: 2px solid red; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    height: 80vh;
    /* background-color: #f0f0f0; */
  
}
/* Container for the input and search icon */
.search-bar-container {
    display: flex;
    align-items: center;
    border: 1px solid #ffffff;
    border-radius: 20px;
    padding: 5px 10px;
    max-width: 450px; /* Adjust based on your design */
    margin: auto;
    background-color: white;
    margin-top: 180px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 40px;
  }
  
  /* Style for the input field */
  .search-bar-container input[type="text"] {
    border: none;
    outline: none;
    padding: 5px;
    flex-grow: 1; /* Makes input take available space */
    box-shadow: none;
  }
  
  /* Style for the search icon */
  .search-bar-container img {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

button{
    background-color: rgba(0, 0, 0, 0);
}